body{
    background-color:#fedcd2;
    padding: 0;
    margin:0;
    min-width:280px;}
    header, ul{
        min-width:280px;
    }
    html{
        min-width:280px;
    }.menu{
        visibility: hidden;
        height: 0;
        

    }.lista{
        display: flex;
        direction: row;
        position: absolute;
        top: 60px;
        background-color: #8fd8d2;
        justify-content: space-around;
        width: 100vw;
        height: 50px;
        transition-property:height;
        transition-duration: 200ms;
        padding-top: 10px;
        border-bottom: solid 1px black;
        padding-left: 0;
    }
    li{
        list-style: none;
    }a{ 
        color:aliceblue;
        text-decoration: none;
    }a:hover{
        color: #df744a;
    }
    header button::focus{
    border-style: none;
    border-color: none;
}
header{
    color: aliceblue;
    font-size: 30pt;
    text-align: center;
    background-color: #8fd8d2;
    margin: 0;
    padding-top:auto;
    padding-bottom: auto;
    margin-bottom: -2px;
    height: 60px;
    
}header p{
    border:none;
    color: aliceblue;
    background-color: transparent;
    font-size: 30pt;
    position:absolute;
    right:10px;
    height: 60px;
    top:0;   
}
header p:hover{
    cursor: pointer;
    color: #dcb239;
}
article{
    margin-top: 20px;
    text-align: center;
    color: #8fd8d2;
    font-size: 20pt;
}
article img{
    height: 180px;
    width: 180px;
    border-radius: 100%;
   
     
}.main{
    display:flex;
    direction: row;
    justify-content: space-around;
    margin-top: 40px;
    color: aliceblue;

}#projects{
    border-top:2px #dcb239;
   margin-bottom: 30px;
   font-size: 30pt;
   color:#df744a;
   margin-top: 90px;

}#tel{
    width:39px;
    height: 41px;
    margin-right:30px ;
}#wap{
width: 49px;
margin-right:30px ;
}#git{
    width:39px;
}
.social{
    justify-content: space-around;
    text-align: center;
    margin-top: 8px;  
}
.div1{
    height: 300px;
    width: 200px;
    padding-left:2px;
    padding-right: 2px;
    background-color:#dcb239;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    padding-bottom: 20px;
}
.port{
    width: 250px;
    height: 250px;
    background-color: #8fd8d2;
    box-shadow: 2px 2px 3px black;

}
.section{
    display:flex;
    direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.section2{
    display:flex;
    direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
footer{
    text-align:center;
    height: 100px;
    background-color: #2d2d2d;
    color: aliceblue;
}
footer p{
    padding-top: 70px;
}
@media(max-width:780px){
.main{
    display:block;
    
   }.div1{
    height:fit-content;
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;

}.section2{
    display: none;
}.section{
    display: block;
    
}.port{
    width: 90%;
    margin-top: 35px;
    margin-left: 5%;
}}
@media(max-width:450px){
    header{
        font-size: 25pt;
        height: 50px;
    }
    header p{
        font-size: 25pt;
        height:fit-content;
        right: 5px;

    }.lista{
        top:50px;
    }
}@media(max-width:370px){
    header{
        font-size: 22pt;
    }
    header p{
        font-size: 22pt;
        height:fit-content;
        right: 5px;

    }
    .lista{
        display: block;
        direction: column;
        text-align: center;
        height: fit-content;
        font-size: 18pt;
        padding-bottom: 10px;
        
    }li{
        padding-top: 6px;
    }
}@media(max-width:320px){
    header{
        font-size:18pt ;
        height: 40px;
    }header p{
        font-size:18pt;
        right: 1px;
        top:1px
    }.lista{
        top:40px
    }
}@media(max-width:320px){
    header p {
        display:none;
    }
}